@media  screen and (max-width: 568px){
    header{
       
        padding: 30px 0;
    }
    nav ul > *:not(:last-child) {
        display: none;
    }
    .logo img{
        width: 80%;
    }
    header ul li a {
        
        padding: 5px 10px;
        border-radius: 6px;
    }
    section.servicesection{
       flex-direction: column-reverse;
        margin-top: 40px
    
    }
    section.servicesection h1 {
        font-size: 45px;
        text-align: justify;
    }
    section.servicesection img {
        width: auto;
    }
    section.servicesection p {
        font-size: 20px;
        padding: 16px 0;
        text-align: justify;
    }
    section.servicesection button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 30px 0;
    }

    section.servicesection > div {
        width: 100%;
        text-align: center;
    }
    .serviceprovidelist .heading {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .serviceprovidelist .heading > div {
        width: auto; 
    }
    .serviceprovidelist .heading h2 {
        font-size: 45px;
        text-align: center;
    }
    .serviceprovidelist .heading p {
        font-size: 23px;
        padding: 20px 0;
    }
    .serviceprovidelist .servicelist {
        flex-direction: column;
        padding: 30px 0;
    }
    .serviceprovidelist .servicelist > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceprovidelist .servicelist p {
        font-size: 23px;
    }
    .flexprice h2 {
        font-size: 45px;
        padding: 20px 0;
    }
    .pricelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;        
        padding: 30px 0;
    }
    .pricelist .package {
        padding: 15px 0px;
        width: 100%; 
        text-align: center;
        margin: 10px 0;
    }
    .package h3 {
        font-size: 30px;
    }
    .package p {
        padding: 10px 0;
        font-size: 20px;
    }
    .package ul li {
        font-size: 20px;
        padding: 5px 0;
    }
    .package ul {
        padding-top: 30px;
    }
    .price {
        margin: 30px 0;
    }
    .package .price button {
       
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .package:nth-child(2) .price button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .testimonialheading {
        margin-top: 50px;
    }
    .testimonialheading h1 {
        font-size: 45px;
    }
    .testimonialheading p {
        padding: 23px 5%;
        font-size: 23px;
        text-align: justify;
    }
    .testimoniallist {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .testimonials {
         width: auto; 
        border-radius: 8px;
        border: 1px solid #8991a3;
        margin: 10px 5%;
        padding: 10px;
    }
    .testimonials p {
        font-size: 20px;
    }
    .registerblue {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }
    .registerblue > * {
        width: auto;
    }
    .registerblue h1 {
        font-size: 45px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5% 0;
        margin: 0 5%;
        align-items: center;
        text-align: center;
    }
    footer .logo img{
        width: auto;
    }
    footer .logo {
         width: 100%;
    }
    footer > * {
        margin: 20px 0;
        width: 50%;
    }
    footer h4 {
        font-size: 23px;
    }
    .social ul {
        justify-content: center;
    }
    footer ul li {
        font-size: 16px;
        padding-top: 18px;
        margin: 5px;
    }
    
}
@media screen and (min-width: 569px) and (max-width: 768px) {
    header{
       
        padding: 30px 0;
    }
    header .logo{
        width: 20%;
    }
    .logo img{
        width: 100%;
    }
    header ul li {
        
        font-size: 14px;
        padding: 0 1px;
    }
    header ul li a {
        
        padding: 2px 5px;
        border-radius: 6px;
    }
    section.servicesection{
       flex-direction: column-reverse;
        margin-top: 40px
    
    }
    section.servicesection h1 {
        font-size: 45px;
        text-align: justify;
    }
    section.servicesection img {
        width: auto;
    }
    section.servicesection p {
        font-size: 20px;
        padding: 16px 0;
        text-align: justify;
    }
    section.servicesection button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 30px 0;
    }

    section.servicesection > div {
        width: 100%;
        text-align: center;
    }
    .serviceprovidelist .heading {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .serviceprovidelist .heading > div {
        width: auto; 
    }
    .serviceprovidelist .heading h2 {
        font-size: 45px;
        text-align: center;
    }
    .serviceprovidelist .heading p {
        font-size: 23px;
        padding: 20px 0;
    }
    .serviceprovidelist .servicelist {
        flex-direction: column;
        padding: 30px 0;
    }
    .serviceprovidelist .servicelist > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceprovidelist .servicelist p {
        font-size: 23px;
    }
    .flexprice h2 {
        font-size: 45px;
        padding: 20px 0;
    }
    .pricelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;        
        padding: 30px 0;
    }
    .pricelist .package {
        padding: 15px 0px;
        width: 100%; 
        text-align: center;
        margin: 10px 0;
    }
    .package h3 {
        font-size: 30px;
    }
    .package p {
        padding: 10px 0;
        font-size: 20px;
    }
    .package ul li {
        font-size: 20px;
        padding: 5px 0;
    }
    .package ul {
        padding-top: 30px;
    }
    .price {
        margin: 30px 0;
    }
    .package .price button {
       
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .package:nth-child(2) .price button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .testimonialheading {
        margin-top: 50px;
    }
    .testimonialheading h1 {
        font-size: 45px;
    }
    .testimonialheading p {
        padding: 23px 5%;
        font-size: 23px;
        text-align: justify;
    }
    .testimoniallist {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .testimonials {
         width: auto; 
        border-radius: 8px;
        border: 1px solid #8991a3;
        margin: 10px 5%;
        padding: 10px;
    }
    .testimonials p {
        font-size: 20px;
    }
    .registerblue {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }
    .registerblue > * {
        width: auto;
    }
    .registerblue h1 {
        font-size: 45px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5% 0;
        margin: 0 5%;
        align-items: center;
        text-align: center;
    }
    footer .logo img{
        width: auto;
    }
    footer .logo {
         width: 100%;
    }
    footer > * {
        margin: 20px 0;
        width: 50%;
    }
    footer h4 {
        font-size: 23px;
    }
    .social ul {
        justify-content: center;
    }
    footer ul li {
        font-size: 16px;
        padding-top: 18px;
        margin: 5px;
    }
}

@media  screen and (min-width: 769px) and (max-width: 992px){ 
    header{
       
        padding: 40px 0;
    }
    header .logo{
        width: 20%;
    }
    .logo img{
        width: 100%;
    }
    header ul li {
        
        font-size: 18px;
        padding: 0 4px;
    }
    header ul li a {
        
        padding: 7px 10px;
        border-radius: 6px;
    }
    section.servicesection{
        margin-top: 40px;
        flex-basis: 50%;
    }
    section.servicesection h1 {
        font-size: 55px;
        text-align: justify;
    }
    .rightletter,.rightleft{
        display: flex;
    }
    section.servicesection img {
        
        width: 100%;
        height: auto;
    }
    section.servicesection p {
        font-size: 25px;
        padding: 16px 0;
    }
    section.servicesection button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 30px 0;
    }

    section.servicesection > div {
        width: 50%;
    }
    .serviceprovidelist .heading {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .serviceprovidelist .heading > div {
        width: auto; 
    }
    .serviceprovidelist .heading h2 {
        font-size: 45px;
        text-align: center;
    }
    .serviceprovidelist .heading p {
        font-size: 23px;
        padding: 20px 0;
    }
    .serviceprovidelist .servicelist {
        flex-direction: column;
        padding: 30px 0;
    }
    .serviceprovidelist .servicelist > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceprovidelist .servicelist p {
        font-size: 23px;
    }
    .flexprice h2 {
        font-size: 45px;
        padding: 20px 0;
    }
    .pricelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;        
        padding: 30px 0;
    }
    .pricelist .package {
        padding: 15px 0px;
        width: 100%; 
        text-align: center;
        margin: 10px 0;
    }
    .package h3 {
        font-size: 30px;
    }
    .package p {
        padding: 10px 0;
        font-size: 20px;
    }
    .package ul li {
        font-size: 20px;
        padding: 5px 0;
    }
    .package ul {
        padding-top: 30px;
    }
    .price {
        margin: 30px 0;
    }
    .package .price button {
       
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .package:nth-child(2) .price button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
        margin: 20px 0;
    }
    .testimonialheading {
        margin-top: 50px;
    }
    .testimonialheading h1 {
        font-size: 45px;
    }
    .testimonialheading p {
        padding: 23px 5%;
        font-size: 23px;
        text-align: justify;
    }
    .testimoniallist {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .testimonials {
         width: auto; 
        border-radius: 8px;
        border: 1px solid #8991a3;
        margin: 10px 5%;
        padding: 10px;
    }
    .testimonials p {
        font-size: 20px;
    }
    .registerblue {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }
    .registerblue > * {
        width: auto;
    }
    .registerblue h1 {
        font-size: 45px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5% 0;
        margin: 0 5%;
        align-items: center;
        text-align: center;
    }
    footer .logo img{
        width: auto;
    }
    footer .logo {
         width: 100%;
    }
    footer > * {
        margin: 20px 0;
        width: 50%;
    }
    footer h4 {
        font-size: 23px;
    }
    .social ul {
        justify-content: center;
    }
    footer ul li {
        font-size: 16px;
        padding-top: 18px;
        margin: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media  screen and (min-width: 993px) and (max-width: 1200px){ 
   
}

/* X-Large devices (large desktops, 1200px and up)*/
@media  screen and (min-width: 1201px) and (max-width: 1400px){ 
   
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
   
 }