@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Square+Peg&display=swap');

body {
    margin: 0px;
    font-family: 'Orbitron';
  }
  /********* Start nav */
  .navbar-container {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
  }
  
  .list li {
    padding: 5px 20px 5px 20px;
    font-size: 22px;
    display: inline-block;
    list-style-type: none;
    font-weight: 700;
    position: relative;
    color: #2f2f2f;
  }
  .search-icon svg {
    height: 33px;
    padding-right: 14px;
  }
  .nav-button {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 5px 45px 5px 45px;
    background: #fff;
    font-size: 24px;
  }
  .button-group {
    display: flex;
    padding-top: 20px;
  }
  .navbar-container ul li:first-child{
    font-weight: 900;
    font-size: 28px;    
}
.navbar-container ul li:first-child::before{
   
    content: "";
    position: absolute;
    width: 47%;
    height: 1px;
    bottom: -3px;
    left: 30%;
    border-bottom: 4px solid;
}
  /********* end nav */
  /********* Start container */
  section[aria-label="banner"] {
    position: relative;
  }
  .hero-container {
    padding: 0 5%;
     position: relative;
   /* display: flex; */
  }
  .hero-container:first div {
    display: inline-block;
    /* position: absolute; */
  }
  .globe + div {
    float: left;
  }
  .hero-container-right {
    float: right;
    width: 65%;
    text-align: center;
  }
  
  span.square {
    position: absolute;
    left: 19.1%;
    top: 225%;
    z-index: -1;
  }
  span.square::after {
    position: absolute;
    top: 75%;
    right: -151px;
    background-image: url("/assets/start.png");
    background-size: cover;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: "";
  }
  span.star {
    float: right;
  }
  span.globe {
    top: 25%;
    position: absolute;
    left: 50%;
  }
  .hero-container-right h1 {
    font-size: 4.8rem;
    font-family: 'Orbitron', sans-serif;  
  }
  .hero-description + div {
    margin: 10%;
  }
  p.hero-description {
    padding: 0px 225px 0px 230px;
    line-height: 25px;
    font-size: 20px;
    font-family: Poppins;
    color: #7b7b7b;
  }
  .button-email {
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    background-color: #fff;
    font-size: 22px;
    color: #7b7b7b;
  }
  .button-join {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 22px;
  }
  .contact-heading {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: Poppins;
    color: #7b7b7b;
  }
  /********* End container */
  
