@media  screen and (max-width: 568px){
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        grid-gap: 25%;
    }
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    nav .logo h1 {
        font-size: 21px;
    }
    .call-detail {
        font-size: 15px;
        font-weight: 500;
        border-bottom: 2px solid;
        align-items: start;
    }
    .item-lists{
        display: none;
    }
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1fr;
        row-gap: 100px;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    button {
        border: 3px solid #fff;
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 20px;
        margin: 35px 0;
        position: absolute;
        left:  25%;
    }
    .right-section{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .card {
        
        padding: 10px;
        font-size: 15px;
        width: 65%;
        margin:15px;
    }
    .card:first-child {
        position: relative;
        top: 50%;
    }
    .card img{
        padding: 8px 35px;
        height: 22px;
    }
    .card p {
        font-size: 20px;
    }
    .card:last-child {
        position: relative;
         left: 0; 
        bottom: 0;
    }
    .card:last-child::after {
        position: absolute;
        right: -19.5%;
        top: -100%;
    }
    .card:first-child::after {
        top: 225%;
        right: 10%;
    }


}
@media screen and (min-width: 569px) and (max-width: 768px) {
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        
    }
    ul.item-lists li {
        
        padding: 0 5px;
        font-size: 13px;
        font-weight: 400;
    }
    nav .item-lists{
        width: 68%;
        border-bottom: 2px solid;
        margin-right: 5px;
    }
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    nav .logo h1 {
        font-size: 25px;
    }
    .call-detail {
        font-size: 13px;
        font-weight: 400;
        border-bottom: 2px solid;
        align-items: start;
        width: 32%;
    }
    
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1fr;
        row-gap: 100px;
    }
    h1 {
        font-size: 50px;
        text-align: center;
    }
    button {
        border: 4px solid #fff;
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 21px;
        margin: 35px 0;
        position: absolute;
        left:  35%;
    }
    .right-section{
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        
        padding: 10px;
        font-size: 15px;
        width: 50%;
        margin:15px;
    }
    .card:first-child {
        position: relative;
        top: 50%;
    }
    .card img{
        padding:12px 40px;
        height: 27px;
    }
    .card p {
        font-size: 22px;
    }
    .card:last-child {
        position: relative;
         left: 0; 
        bottom: 0;
    }
    .card:last-child::after {
        position: absolute;
        right: -13.5%;
        top: -100%;
        z-index: -1;
    }
    .card:first-child::after {
        top: 215%;
        right: 10%;
    }
}

@media  screen and (min-width: 769px) and (max-width: 992px){ 
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        
    }
    ul.item-lists li {
        
        padding: 0 3px;
        font-size: 18px;
        font-weight: 500;
    }
    nav .item-lists{
        width: 68%;
        border-bottom: 2px solid;
        margin-right: 5px;
    }
    
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    nav .logo h1 {
        font-size: 32px;
    }
    .call-detail {
        font-size: 18px;
        font-weight: 500;
        border-bottom: 2px solid;
        align-items: start;
        width: 32%;
    }
    
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1.6fr 1fr;
        column-gap: 0px;
    }
    h1 {
        font-size: 65px;
    }
    button {
        border: 5px solid #fff;
        padding: 15px 40px;
        border-radius: 30px;
        font-size: 23px;
        margin: 35px 0;
       
    }
    .right-section{
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        
        padding: 10px;
        width: 75%;
    }
    .card:first-child {
        position: absolute;
        top: -190px;
        left:5px;
    }
    .card img{
        padding:11px 45px;
        height: 27px;
    }
    .card p {
        font-size: 22px;
    }
    .card:last-child {
        position: absolute;
        left: -85px;
        bottom: -350px;
    }
    .card:last-child::after {
        position: absolute;
        right: -57.5%;
        top: -220%;
        z-index: -1;
    }
    .card:first-child::after {
        bottom: -280%;
        right: 50%;
    } 
}

/* Large devices (desktops, 992px and up) */
@media  screen and (min-width: 993px) and (max-width: 1200px){ 
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        
    }
    ul.item-lists li {
        padding: 0 5px;
        font-size: 21px;
        font-weight: 600;
    }
    nav .item-lists{
        width: 68%;
        border-bottom: 2px solid;
        margin-right: 5px;
    }
    
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    nav .logo h1 {
        font-size: 40px;
    }
    .call-detail {
        font-size: 21px;
        font-weight: 600;
        border-bottom: 2px solid;
        align-items: start;
        width: 32%;
    }
    
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 0px;
    }
    h1 {
        font-size: 75px;
    }
    
    .right-section{
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        
        padding: 10px;
        width: 68%;
    }
    .card:first-child {
        position: absolute;
        top: -285px;
        left:5px;
    }
    
    .card:last-child {
        position: absolute;
        left: -85px;
        bottom: -252px;
    }
    .card:last-child::after {
        position: absolute;
        right: -50%;
        top: -190%;
        z-index: -1;
    }
    .card:first-child::after {
        bottom: -245%;
        right: 50%;
    } 
}

/* X-Large devices (large desktops, 1200px and up)*/
@media  screen and (min-width: 1201px) and (max-width: 1400px){ 
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        
    }
    ul.item-lists li {
        padding: 0 12px;
        font-size: 23px;
        font-weight: 600;
    }
    nav .item-lists{
        width: 68%;
        border-bottom: 2px solid;
        margin-right: 5px;
    }
    
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    
    .call-detail {
        font-size: 23px;
        font-weight: 600;
        border-bottom: 2px solid;
        align-items: start;
        width: 32%;
    }
    
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1.7fr 1fr;
        column-gap: 0px;
    }
    
    
    .right-section{
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        
        padding: 10px;
        width: 62%;
    }
    .card:first-child {
        position: absolute;
        top: -285px;
        left:5px;
    }
    
    .card:last-child {
        position: absolute;
        left: -85px;
        bottom: -252px;
    }
    .card:last-child::after {
        position: absolute;
        right: -50%;
        top: -190%;
        z-index: -1;
    }
    .card:first-child::after {
        bottom: -245%;
        right: 50%;
    } 
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    nav.nav-bar {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin: 20px 5%;
        
    }
    ul.item-lists li {
        padding: 0 12px;
        font-size: 23px;
        font-weight: 600;
    }
    nav .item-lists{
        width: 68%;
        border-bottom: 2px solid;
        margin-right: 5px;
    }
    
    .line {
        padding: 0px 0;
        border-bottom: none;
        justify-content: end;
    }
    
    .call-detail {
        font-size: 23px;
        font-weight: 600;
        border-bottom: 2px solid;
        align-items: start;
        width: 32%;
    }
    
    .main-section {
        margin: 40px 5% 0px 5%;
        grid-template-columns: 1.8fr 1fr;
        column-gap: 0px;
    }
    
    
    .right-section{
        flex-wrap: wrap;
        align-items: center;
    }
    .card {
        
        padding: 10px;
        width: 75%;
    }
    .card:first-child {
        position: absolute;
        top: -260px;
        left:5px;
    }
    
    .card:last-child {
        position: absolute;
        left: -85px;
        bottom: -325px;
    }
    .card:last-child::after {
        position: absolute;
        right: -45%;
        top: -275%;
        z-index: -1;
    }
    .card:first-child::after {
        bottom: -275%;
        right: 35%;
    }
 }