@media  screen and (max-width: 568px){
    header {
        padding: 30px 5%;
    }
    header .nav, header .banner, header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header ul{
        margin: 25px 0;
    }
    header ul li {
        display: inline-block;
        font-size: 20px;
        padding: 15px 0;
        
    }
    li.trial {
         margin-left: 0; 
    }
    
    header .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    header .banner > div {
        width: 100%;
    }

    header .banner h1 {
        font-size: 48px;
        text-align: justify;
    }
    header .banner p {
        font-size: 22px;
        padding: 20px 0;
        text-align: justify;
    }
    .helpfullos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;
        align-items: center;
    }
    .helpfullos .left {
        width: 100%;
    }
    .helpfullos .right {
        width: 100%;
    }
    section.feature-section {
        padding: 30px 0;
    }
    section.feature-section h2 {
        padding: 0 5%;
    }
    .featurelist {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        margin: 0 5%;
    }
    .featurelist .feature {
        padding: 5px;
        width: 100%;
        box-shadow: 5px 5px 3px #808487;
        
        border-radius: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature .img {
        height: 60px;
        width: 60px;
        border-radius: 117px;
        padding: 6%;
        margin: 8px;
    }
    .featurelist .feature p {
        font-size: 21px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
         align-items: center; 
         text-align: center;
    }
    footer div:first-child {
        width: 100%;
    }
    footer > * {
         padding: 5% 0%; 
    }
}
@media screen and (min-width: 569px) and (max-width: 768px) {
    header {
        padding: 30px 5%;
    }
    header .nav, header .banner, header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header ul{
        margin: 25px 0;
    }
    header ul li {
        display: inline-block;
        font-size: 20px;
        padding: 15px 0;
        
    }
    li.trial {
         margin-left: 0; 
    }
    
    header .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    header .banner > div {
        width: 100%;
    }

    header .banner h1 {
        font-size: 48px;
        text-align: justify;
    }
    header .banner p {
        font-size: 22px;
        padding: 20px 0;
        text-align: justify;
    }
    .helpfullos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;
        align-items: center;
    }
    .helpfullos .left {
        width: 100%;
    }
    .helpfullos .right {
        width: 100%;
    }
    section.feature-section {
        padding: 30px 0;
    }
    section.feature-section h2 {
        padding: 0 5%;
    }
    .featurelist {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        margin: 0 5%;
    }
    .featurelist .feature {
        padding: 5px;
        width: 100%;
        box-shadow: 5px 5px 3px #808487;
        
        border-radius: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature .img {
        height: 60px;
        width: 60px;
        border-radius: 117px;
        padding: 6%;
        margin: 8px;
    }
    footer {
        flex-direction: row;
        justify-content: center;
         align-items: center; 
         text-align: center;
         flex-wrap: wrap;
    }
    footer div:first-child {
        width: 100%;
    }
    footer > * {
        width: 50%;
         padding: 5% 0%; 
    }
}

@media  screen and (min-width: 769px) and (max-width: 992px){ 
    
    header ul li {
        padding: 15px 5px;
        
    }
    li.trial {
         margin-left: 0; 
    }
    
    header .banner {
        padding: 5% 0;
    }

    header .banner h1 {
        font-size: 60px;
        text-align: justify;
    }
    header .banner p {
        font-size: 25px;
        padding: 20px 0;
        text-align: justify;
    }
    .helpfullos {
        flex-wrap: wrap;
        padding: 30px 0;
        align-items: center;
    }
    .helpfullos .left {
        width: 100%;
    }
    .helpfullos .right {
        width: 100%;
    }
    section.feature-section {
        padding: 30px 0;
    }
    section.feature-section h2 {
        padding: 0 5%;
    }
    .featurelist {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        margin: 0 5%;
    }
    .featurelist .feature {
        padding: 5px;
        width: 100%;
        box-shadow: 5px 5px 3px #808487;
        
        border-radius: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature .img {
        height: 60px;
        width: 60px;
        border-radius: 117px;
        padding: 6%;
        margin: 8px;
    }
    footer {
        flex-direction: row;
        justify-content: center;
         align-items: center; 
         text-align: center;
         flex-wrap: wrap;
    }
    footer div:first-child {
        width: 100%;
    }
    footer > * {
        width: 50%;
         padding: 5% 0%; 
    }
}

/* Large devices (desktops, 992px and up) */
@media  screen and (min-width: 993px) and (max-width: 1200px){ 
   
}

/* X-Large devices (large desktops, 1200px and up)*/
@media  screen and (min-width: 1201px) {
   
 }