* {
  margin: 0;
  outline: 0;
  padding: 0;
}
body {
  height: 80vh;
}
.main-div {
  background-image: url("../images/backcover.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  min-height: 1150px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
}

nav img {
  height: 80px;
  /* flex: 1; */
  margin: auto;
}
.nav-items {
  /* flex: 2; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.nav-item {
  padding: 0 20px;
  font-size: 18px;
  color: #1f2873;
}
.signin-btn {
  background: linear-gradient(to right, #975df3, #ff8adc);

  border: none;
  padding: 5px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  font-size: 20px;
  color: #fff;
}
.intro-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 0 8%;

  /* position: relative; */
}
.left-section {
  width: 50%;
}
.left-section h1 {
  font-size: 100px;
  font-weight: 900;
  color: #3e4794;
  font-family: Arial, Helvetica, sans-serif;
}
.left-section h4 {
  color: #c3c5d2;
  width: 70%;
  margin: 5% 0;
  font-size: 25px;
}
.learn-more-btn {
  background: linear-gradient(to right, #975df3, #ff8adc);

  border: none;
  padding: 15px 40px;
  border-radius: 40px;
  cursor: pointer;
  margin: auto;
  font-size: 30px;
  color: #fff;
}
.imgs-div {
  /* widthh: 50%; */
  position: relative;
}
img.vector-img {
  position: absolute;
  bottom: 90px;
  left: 143px;
}
img.vector-dot {
  position: absolute;
  bottom: 180px;
  left: 200px;
}
img[alt="intro-img"] {
  position: relative;
  left: 75px;
  top: 10px;
  height: 1070px;
  width: 1070px;
}
