@media  screen and (max-width: 568px){
    header .nav {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }
    body {
        background-repeat: no-repeat,repeat;
        background-position: center,right;
        background-size: 0% auto,cover;
    }

    .logo {
        width: unset;
    }
    nav {
        width: unset;
    }
    .line{
        display: none;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    header ul li {
        
        padding: 10px 50px;
    }


    section.container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.container .left {
        width: 100%;
    }
    section.container .right {
        width: 100%;
    }
    .right-top {
        flex-direction: column;
        justify-content: center;
    }
    .right-top .heading h1:first-child {
        font-size: 100px;        
    }
    .right-top .heading h1 {
        font-size: 100px;
    }
    .right-top .heading h1 span {
        padding-left: 135px;
    }
    .right-top .ingrediant {
         position: unset; 
    }
    .right-top .ingrediant h4 {
        text-align: center;
        font-size: 27px;
        padding: 20px 20%;
        position: unset;
    }
    .right-top .social {
        flex-direction: row;
        justify-content: center;
    }
    .right-top .social img {
        width: 20px;
        padding: 10px;
    }
    .right .button {
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        margin: 0 20%;
    }
    .right-bottom {
        flex-direction: column;
        justify-content: center;
    }
    .step-item::after {
        left: 25%;
    }
    .step .step-item div {
        left: 22.5%;
    }
    .step-text {
        padding-left: 35%;
    }
    .right-bottom .quote p {
        text-align: justify;
    }
    .right-bottom .quote {
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .right-bottom .quote img {
        
        padding: 0px 12%;
        padding-top: 80px;
        width: 80%;
    }


    .right-bottom .arrow {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    header .nav {
        padding: 20px 0;
    }
    body {
        background-repeat: no-repeat,repeat;
        background-position: center,right;
        background-size: 0% auto,cover;
    }

    
    .line{
        display: none;
    }
    nav {
        width: 80%;
    }
    header ul li {        
        padding: 0px 10px;
    }


    section.container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.container .left {
        width: 100%;
    }
    section.container .right {
        width: 100%;
    }
    .right-top {
        flex-direction: column;
        justify-content: center;
    }
    .right-top .heading h1:first-child {
        font-size: 100px; 
        text-align: center;       
    }
    .right-top .heading h1 {
        font-size: 100px;
        text-align: center;
    }
    .right-top .heading h1 span {
        padding-left: 135px;
    }
    .right-top .ingrediant {
         position: unset; 
    }
    .right-top .ingrediant h4 {
        text-align: center;
        font-size: 27px;
        padding: 20px 20%;
        position: unset;
    }
    .right-top .social {
        flex-direction: row;
        justify-content: center;
    }
    .right-top .social img {
        width: 20px;
        padding: 10px;
    }
    .right .button {
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        margin: 0 20%;
    }
    .right-bottom {
        flex-direction: column;
        justify-content: center;
    }
    .step-item::after {
        left: 25%;
    }
    .step .step-item div {
        left: 22.5%;
    }
    .step-text {
        padding-left: 35%;
    }
    .right-bottom .quote p {
        text-align: justify;
    }
    .right-bottom .quote {
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .right-bottom .quote img {
        
        padding: 0px 12%;
        padding-top: 80px;
        width: 80%;
    }


    .right-bottom .arrow {
        display: none;
    }
}

@media  screen and (min-width: 769px) and (max-width: 992px){ 
    body {
      
        background-size: 40% 100% ,cover;
    }
    header .nav {
        padding: 40px 0;
    }
   
    nav {
        width: 40%;
    }
    header ul li {        
        padding: 0px 5px;
    }


    
    
    .right-top {        
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-top .heading h1:first-child {
        font-size: 110px;       
    }
    .right-top .heading h1 {
        font-size: 110px;
    }
    .right-top .heading h1 span {
        padding-left: 135px;
    }
    .right-top .ingrediant {
         position: unset; 
    }
    .right-top .ingrediant h4 {
        text-align: center;
        font-size: 28px;
        padding: 20px 0%;
        position: unset;
    }
    .right-top .social {
        justify-content: center;
        position: fixed;
        top: 10%;
        right: 0;
    
    }
    .right-top .social img {
        width: 20px;
        padding: 10px;
    }
    .right .button {
        flex-direction: column;
        justify-content: center;
        padding: 25px 0;
        margin: 0 20%;
    }
}

/* Large devices (desktops, 992px and up) */
@media  screen and (min-width: 993px) and (max-width: 1200px){ 
    body {
      
        background-size: 40% 100% ,cover;
    }
    header .nav {
        padding: 40px 0;
    }
   
    nav {
        width: 40%;
    }
    header ul li {        
        padding: 0px 12px;
    }
    .right-top {        
        align-items: end;
    }
    .right-top .heading h1:first-child {
        font-size: 110px;       
    }
    .right-top .heading h1 {
        font-size: 110px;
    }
    .right-top .heading h1 span {
        padding-left: 135px;
    }
    .right-top .ingrediant {
         position: unset; 
    }
    .right-top .ingrediant h4 {
        text-align: center;
        font-size: 28px;
        padding: 20px 0%;
        position: unset;
    }
    .right-top .social {
        justify-content: center;
    }
    .right-top .social img {
        width: 20px;
        padding: 10px;
    }
    .right .button {
        align-items: end;
    }
}

/* X-Large devices*/
@media  screen and (min-width: 1201px) { 
    body {
      
        background-size: 40% 100% ,cover;
    }
   
    header ul{
        display: flex;
        justify-content: end;
    }
    header ul li {        
        padding: 0px 20px;
    }
    .right-top {        
        align-items: end;
    }
    
    .right-top .heading h1 span {
        padding-left: 135px;
    }
    .right-top .ingrediant {
         position: unset; 
    }
    .right-top .ingrediant h4 {
        padding: 20px 0%;
        position: unset;
    }
    .right-top .social {
        justify-content: center;
    }
    .right-top .social img {
        width: 30px;
        padding: 10px;
    }
    .right .button {
        align-items: end;
    }
}
